{% extends "base.html" %}

{% block content %}
<style>
    .right {text-align: right;}
    body {background-color: rgb(245,245,245);}
    .hide {opacity: 0;}
    h1 {color: black;}
  </style>
<p class="right">Defense Attorney View</p>
<!-- <h1>Declare Attorney of Record</h1>

<! <form>
    <label for="attorneyname">Attorney of Record:</label><br>
    <input type="text" id="attorneyname" name="attorneyname"><br>
  </form>

  <h1>Requests</h1>

<form>
    <label for="continuance">Continuance Request:</label><br>
    <input type="date" id="continuance" name="continuance"><br> <br>
    <label for="plea">Plea Request:</label><br>
    <input type="text" id="plea" name="plea">
  </form>
<div>
    <div> <br>
        <button onclick="window.location.href='{% url 'lista_cases' %}';">
            Submit
          </button> <br> <br>
      <a href="{% url 'lista_cases' %}">Cancel</a>
    </div>
  </form>
</div> --> 
<div>
    <form action="{% url 'edit_case' pk=case.pk %}" method="POST">
      {% csrf_token %}
      <!-- {{ form.as_p }} -->
      <h1>Declare Attorney of Record</h1>
      Attorney of Record: {{ form.defense_name }}
      <h1>Requests</h1>
      Continuance Request: {{ form.continuance }} <br> <br>
    
    

      Plea Request: {{ form.plea_request }}


      <div> <br>
        <!-- <button type="submit">Update Case</button> <br> <br> -->
        <button type="submit">Submit</button><br> <br>
        <a href="{% url 'lista_cases' %}">Cancel</a>

    </form>


   
        <br><br><br><br><br><br>

      <div class="hide">
        {{ form.no }}
        {{ form.file_number }}
        {{ form.defendant }}
        {{ form.offense }}
        {{ form.attorney }}
        {{ form.response_by }}
        {{ form.complainant }}
        {{ form.disposition }}
        {{ form.p }}
        {{ form.a }}
        {{ form.l }}
        {{form.cont_consent}}
      </div>
</div>
{% endblock %}