{% extends "base.html" %}

{% block content %}
<style>
    .right {text-align: right;}
    .capitalize {text-transform: capitalize; text-align: left;}

  </style>
<p class="right"><span><a href="{% url 'logout' %}">Logout</a></span></p>
<h2 class="capitalize">Hello, {{request.user}}</h2>
<h1>Welcome to CourtPal!</h1>

<div>
    
    <p>District Attorneys and CourtRoom Clerks:</p>
  <button onclick="window.location.href='{% url 'list_cases' %}';">
    Court Official View
  </button>
   
    <p>Defense Attorneys:</p>
  <button onclick="window.location.href='{% url 'lista_cases' %}';">
    Defense Attorney View
  </button>

</div>
{% endblock %}