{% extends "base.html" %}

{% block content %}
<style>
  .menu {text-align: right;}
  body {background-color: rgb(245,245,245);}
</style>
<p class="menu"> <a href="{% url 'index' %}">Home</a> | <a href="{% url 'listp_cases' %}">Public</a> | <a href="{% url 'signup' %}">Membership</a> | <a href="{% url 'contact' %}">About</a></p>
<h1>Welcome to CourtPal!</h1>

Access the Public Calendar View Here: 
<button onclick="window.location.href='{% url 'listp_cases' %}';">
  Public Calendar View
</button>

<h2>Attorneys and Court Officials </h2>
  <h2>Login Here</h2>

<button onclick="window.location.href='{% url 'login' %}';">
    Login
  </button>

  <h2>Or Register Here</h2>
  <button onclick="window.location.href='{% url 'register' %}';">
    Register
  </button> <br>


{% endblock %}

