{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    body {background-color: rgb(245,245,245);}
    h2   {color: black;}
    h2 {text-align: center;}
    p    {color: black;}
    .right {text-align: right;}
    .left {text-align: left;}
    .center {text-align: center;}
    .form {font-size: 3px;}
    .purple {border: purple;}
    .purple {background-color: purple;}
    .edit {font-size: .65pc;}
    .table {margin-left: auto; margin-right: auto;}

</style>
<p class="right"><a href="{% url 'add_case' %}">New Entry</a> | <span><a href="{% url 'logout' %}">Logout</a></span></p>
<p class="right">Court Official View</p>


<h2>-- IN THE GENERAL COURT OF JUSTICE --</h2>
<h2>LOCATION: KINSTON, NC -- DISTRICT COURT DIVISION -- COUNTY OF LENOIR</h2>
<h2>COURT DATE: 12/02/20 -- TIME: 02:00 PM -- COURTROOM NUMBER: DCR1</h2>

<table class="table" border="1">
    <thead>
        <th>NO.</th>
        <th>FILE NUMBER</th>
        <th>DEFENDANT</th>
        <th>COMPLAINANT</th>
        <th>OFFENSE</th>
        <th>ATTORNEY</th>
        <!-- <th>COURT DATE</th> -->
        <th>CONT. REQUEST</th>
        <th>CONSENT</th>
        <th>PLEA REQUEST</th>
        <th>RESPONSE</th>
        <th>ALTER</th>
        <th>P</th>
        <th>A</th>
        <th>L</th>
        <th>DISP.</th>
        <!-- <th>TEST</th> -->

       
    </thead>
    <tr>
        <td>
            {% for case in cases %}
                {% if case.no %}
                <div class="flex">
                <div>{{ case.no }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.file_number %}
                <div class="flex">
                <div>{{ case.file_number }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.defendant %}
                <div class="flex">
                <div>{{ case.defendant }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.complainant %}
                <div class="flex">
                <div>{{ case.complainant }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.offense %}
                <div class="flex">
                <div>{{ case.offense }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.attorney %}
                <div class="flex">
                <div>{{ case.attorney }}</div>
                </div>
                {% else %}
                <div>{{ case.defense_name }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <!-- <td>
            {% for case in cases %}
                {% if case.court_date %}
                <div class="flex">
                <div>{{ case.court_date }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td> -->
        <td>
            {% for case in cases %}
                {% if case.continuance %}
                <div class="flex">
                <div>{{ case.continuance }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.cont_consent %}
                <div class="flex">
                <div>{{ case.cont_consent }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.plea_request %}
                <div class="flex">
                <div>{{ case.plea_request }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.response_by %}
                <div class="flex">
                <div>{{ case.response_by }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                    <p class="edit"><a href="{% url 'edit_case' pk=case.pk %}">Edit</a> | <a href="{% url 'delete_case' pk=case.pk %}">Delete</a></p>
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.p == 1 %}
                <div class="flex">
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="checkbox" class="checks" id="p" name="attendance" checked><br> <br>
                    </form>
                {% else %}
                <div class="flex">
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="checkbox" class="checks" id="p" name="attendance"><br> <br>
                    </form>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.a == 1 %}
                <div class="flex">
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="checkbox" class="checks" id="a" name="attendance" checked><br> <br>
                    </form>
                {% else %}
                <div class="flex">
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="checkbox" class="checks" id="a" name="attendance"><br> <br>
                    </form>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.l == 1 %}
                <div class="flex">
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="checkbox" class="checks" id="l" name="attendance" checked><br> <br>
                    </form>
                {% else %}
                <div class="flex">
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="checkbox" class="checks" id="l" name="attendance"><br> <br>
                    </form>
                {% endif %}
            {% endfor %}
        </td>

        <!-- <td>
                <form class="form">
                    <label for="attendance"></label><br>
                    <input type="checkbox" id="attendance" name="attendance"><br> <br>
                </form>
        </td>
        <td>
            {% for case in cases %}
                <form class="form">
                    <label for="attendance"></label><br>
                    <input type="checkbox" id="attendance" name="attendance"><br> <br>
                </form>
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                <form class="form">
                    <label for="attendance"></label><br>
                    <input type="checkbox" id="attendance" name="attendance"><br> <br>
                </form>
            {% endfor %}
        </td> -->
        <td>
            {% for case in cases %}
                {% if case.disposition %}
                <div class="flex">
                <div>{{ case.disposition }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <!-- <td>
               <div class="container">
        <label><input type="checkbox" class="checks" value="present">P</label>
        <label><input type="checkbox" class="checks" value="absent">A</label>
        <label><input type="checkbox" class="checks" value="late">L</label>
        <a href="#" onclick="getValue();return false;">Get</a>
        
    </div>
        </td> -->
 
        
    </tr>
    
</table>


<!-- <div class="flex flex-wrap">
    {% for case in cases %}
      

      {% if case.no %}
      <div class="flex">
        <div>No. {{ case.no }}</div>
      </div>
      {% endif %}

      {% if case.file_number %}
      <div class="flex">
        <div>File Number: {{ case.file_number }}</div>
      </div>
      {% endif %}

      {% if case.defendant_name %}
      <div class="flex">
        <div>Defendant Name: {{ case.defendant_name }}</div>
      </div>
      {% endif %}

      {% if case.complainant %}
      <div class="flex">
        <div>Complainant: {{ case.complainant }}</div>
      </div>
      {% endif %}

      {% if case.offense %}
      <div class="flex">
        <div>Offense: {{ case.offense }}</div>
      </div>
      {% endif %}
      
      {% if case.attorney %}
      <div class="flex">
        <div>Attorney:  {{ case.attorney }}</div>
      </div>
      {% endif %}

      {% if case.continuance_request %}
      <div class="flex">
        <div>Continuance Request:  {{ case.continuance_request }}</div>
      </div>
      {% endif %}

  
      {% if case.plea_request %}
      <div class="flex">
        <div>Plea Request: {{ case.plea_request }}</div>
      </div>
      {% endif %}

      {% if case.response_by %}
      <div class="flex">
        <div>Approved/Denied By: {{ case.response_by }}</div>
      </div>
      {% endif %}
     

      <p>
        <p><a href="{% url 'edit_case' pk=case.pk %}">Edit Case</a> | <a href="{% url 'delete_case' pk=case.pk %}">Delete Case</a></p>
      </p>

    </div>
    {% endfor %} -->
    <!-- <div>
        <label><input type="checkbox" value="p">Present</label>
        <label><input type="checkbox" value="a">Absent</label>
        <label><input type="checkbox" value="l">Late</label>
        <button>Show</button>
        <h1>Result</h1>

    </div> -->
</div>  

{% endblock %}