{% extends "base.html" %}

{% block content %}
<style>
    body {background-color: rgb(245,245,245);}
    h2   {color: black;}
    h2 {text-align: center;}
    p    {color: black;}
    .right {text-align: right;}
    .left {text-align: left;}
    .center {text-align: center;}
    .form {font-size: 3px;}
    .edit {font-size: .7pc;}
    .form {font-size: 3px;}
    .table {margin-left: auto; margin-right: auto;}
   

    

</style>
<p class="right"><span><a href="{% url 'logout' %}">Logout</a></span></p>
<p class="right">Defense Attorney View</p>


<h2>-- IN THE GENERAL COURT OF JUSTICE --</h2>
<h2>LOCATION: KINSTON, NC -- DISTRICT COURT DIVISION -- COUNTY OF LENOIR</h2>
<h2>COURT DATE: 11/13/20 -- TIME: 02:00 PM -- COURTROOM NUMBER: DCR1</h2>

<table class="table" border="1">
    <thead>
        <th>NO.</th>
        <th>FILE NUMBER</th>
        <th>DEFENDANT</th>
        <th>COMPLAINANT</th>
        <th>OFFENSE</th>
        <th>ATTORNEY</th>
        <!-- <th>COURT DATE</th> -->
        <th>CONT. REQUEST</th>
        <th>PLEA REQUEST</th>
        <th>RESPONSE</th>
        <th>REQUEST</th>
        <th>PAL</th>
        <th>DISP.</th>
       
    </thead>
    <tr>
        <td>
            {% for case in cases %}
                {% if case.no %}
                <div class="flex">
                <div>{{ case.no }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.file_number %}
                <div class="flex">
                <div>{{ case.file_number }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.defendant %}
                <div class="flex">
                <div>{{ case.defendant }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.complainant %}
                <div class="flex">
                <div>{{ case.complainant }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.offense %}
                <div class="flex">
                <div>{{ case.offense }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.defense_name %}
                <div class="flex">
                <div>{{ case.defense_name }}</div>
                </div>
                {% else %}
                <div>{{ case.attorney }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <!-- <td>
            {% for case in cases %}
                {% if case.court_date %}
                <div class="flex">
                <div>{{ case.court_date }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td> -->
        <td>
            {% for case in cases %}
                {% if case.continuance %}
                <div class="flex">
                <div>{{ case.continuance }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.plea_request %}
                <div class="flex">
                <div>{{ case.plea_request }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.response_by %}
                <div class="flex">
                <div>{{ case.response_by }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                    <p class="edit"><a href="{% url 'edita_case' pk=case.pk %}">Request</a></p>
            {% endfor %}
        </td>

        <td>
            {% for case in cases %}
                {% if case.p == 1 %}
                <div class="flex">
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="color" id="attendance" name="attendance" value="#00FF00"><br> <br>
                    </form>
                {% elif case.a == 1 %}
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="color" id="attendance" name="attendance" value="#ff0000"><br> <br>
                    </form>
                {% elif case.l == 1 %}
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="color" id="attendance" name="attendance" value="#ffff00"><br> <br>
                    </form>
                {% else %}
                    <form class="form">
                        <label for="attendance"></label><br>
                        <input type="color" id="attendance" name="attendance" value="#800080"><br> <br>
                    </form>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for case in cases %}
                {% if case.disposition %}
                <div class="flex">
                <div>{{ case.disposition }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        
    </tr>
    
</table>

<!-- <div class="flex flex-wrap">
    {% for case in cases %}
      

      {% if case.no %}
      <div class="flex">
        <div>No. {{ case.no }}</div>
      </div>
      {% endif %}

      {% if case.file_number %}
      <div class="flex">
        <div>File Number: {{ case.file_number }}</div>
      </div>
      {% endif %}

      {% if case.defendant_name %}
      <div class="flex">
        <div>Defendant Name: {{ case.defendant_name }}</div>
      </div>
      {% endif %}

      {% if case.complainant %}
      <div class="flex">
        <div>Complainant: {{ case.complainant }}</div>
      </div>
      {% endif %}

      {% if case.offense %}
      <div class="flex">
        <div>Offense: {{ case.offense }}</div>
      </div>
      {% endif %}
      
      {% if case.attorney %}
      <div class="flex">
        <div>Attorney:  {{ case.attorney }}</div>
      </div>
      {% endif %}

      {% if case.continuance_request %}
      <div class="flex">
        <div>Continuance Request:  {{ case.continuance_request }}</div>
      </div>
      {% endif %}

  
      {% if case.plea_request %}
      <div class="flex">
        <div>Plea Request: {{ case.plea_request }}</div>
      </div>
      {% endif %}

      {% if case.response_by %}
      <div class="flex">
        <div>Approved/Denied By: {{ case.response_by }}</div>
      </div>
      {% endif %}
     

      <p>
        <p><a href="{% url 'edit_case' pk=case.pk %}">Edit Case</a> | <a href="{% url 'delete_case' pk=case.pk %}">Delete Case</a></p>
      </p>

    </div>
    {% endfor %} -->
<!-- </div>   -->
{% endblock %}