{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block title %}<title>Court Cal</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="sans-serif pv3 ph2">
    <div class="mw9 center">
      {% block content %}
      <nav class="menu">
        <ul>
            <li><a href="index.html">Home</a></li>	       
            <li><a href="in-stock.html">Currently In Stock</a></li>	       
            <li><a href="info.html">The Hours and Location</a></li>	
        </ul>	 
    </nav>
      {% endblock %}
    </div>
</html>